.container{
  margin-top: 50px;
}

.skip{
  font-weight: 550;
  color: black;
  background-image: linear-gradient(120deg,#2fc665,#89e3a9);
}

.generate{
  font-weight: 550;
  color: black;
  background-image: linear-gradient(120deg,#2fc665,#89e3a9);
}
